<%= form_with(model: @reputation, local: true) do |f| %>

  <table>
    <tr>
      <td class="table_td">ルーム名</td>
      <td><%= @property.name %></td>
    </tr>

    <tr>
      <td class="table_td">お名前</td>
      <td>
        <%= /@/.match(@user.email).pre_match[0...2] %>****** 様
        <span class="text_small">※IDの一部のみ表示されます。</span>
      </td>
    </tr>

    <tr>
      <td class="table_td"><%= f.label :rating, '評価' %></td>
      <td><%= f.select :rating, [5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0], {include_blank: "選択してください"}, {class: "reputation_form narrow"} %></td>
    </tr>

    <tr>
      <td class="table_td"><%= f.label :testimonial, '口コミ' %></td>
      <td><%= f.text_area :testimonial, class: "reputation_form wide area" %></td>
    </tr>
  </table>

  <% if action_name == 'new' || action_name == 'create' %>
    <%= f.submit '口コミを投稿', class: "button", data: {confirm: "口コミを投稿しますか？"} %>
  <% elsif action_name == 'edit' || action_name == 'update' %>
    <%= f.submit '口コミを更新', class: "button", data: {confirm: "口コミを更新しますか？"} %>
  <% end %>

<% end %>
